body {
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -writing-mode: vertical-rl;
    }

.fit-image img {
    height: 100vw;
}